#logo {
    height: 30px;
    width: auto;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

/* With this the dropdown menu isn't sticky on click
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}
*/

.dropdown-menu {
    margin-top: 0;
}

.dropleft:hover > .dropdown-menu {
    display: block;
}

.defaultAccordionStyle {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;

    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}

.card-deck {
    padding: 0px;
}

.card-deck .card {
    margin: 5px;
}